body {
    background: linear-gradient(135deg, #009739 0%, #012169 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #000;
    padding: 25px;
    border-radius: 30px;
    border: 4px solid #FFDF00;
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}

.header {
    color: #FFDF00;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

#display {
    width: 100%;
    height: 70px;
    font-size: 2.5rem;
    text-align: right;
    margin-bottom: 20px;
    background: #FFDF00;
    color: #012169;
    border: none;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 12px;
}

button {
    height: 70px;
    border-radius: 50%;
    border: 2px solid #FFDF00;
    background-color: #012169;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

/* Sinais verdes alinhados na direita */
.operator, .btn-equal {
    background-color: #009739 !important;
    border-color: #FFDF00 !important;
}

.btn-clear { background-color: #ff4d4d; border-color: #fff; }

.btn-del { background-color: #012169; border-color: #FFDF00; }

.col-2 {
    grid-column: span 2;
    border-radius: 35px !important;
    width: 152px !important;
}
